<h1>New Product</h1> 
<%= form_for @product do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br />
  </div>
  
  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
    <br />
  </div>

  
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
    <br />
  </div>

  <div class="field">
    <%= f.label :inventory %>
    <%= f.text_field :inventory %>
    <br />
  </div>
  
  <div class="actions">
  <%= f.submit "submit" %>
  </div>
<% end %>

<div id="productResult">
  <p id="productName" ></p>
  <p id="productPrice" ></p>
  <p id="productDescription" ></p>
  <p id="productInventory" ></p>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();
 
      var values = $(this).serialize();
 
      var posting = $.post('/products', values);
 
      posting.done(function(data) {
        var product = data;
        $("#postTitle").text(post["title"]);
        $("#postBody").text(post["description"]);
      });
    });
  });
</script>
